*{
  box-sizing: border-box;
}
main{
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid gray;
}
header{
  display: flex ;
  background-color: rgb(70, 217, 236);
  padding: 10px 15px;
  flex: 0 0 100%;
  }
  aside{
    padding-right: 3px;
    display: flex;
  max-width: 500px;
 margin: 1  auto;
  padding: 5px 10px;
    flex: 0 0 100%;
    background-color: rgba(27, 189, 27, 0.719);
  }
  article{

    display: flex;
    max-width: 300px;
    padding: 10px 15px;
    flex: 1 1 0;
    background-color: rgb(199, 44, 186);
margin: 1 auto;
  }
  footer{
  display: flex;
   margin: 1 auto;
    max-width: 400px;
    padding: 10px 15px;
    flex: 1 1 100%;
    background-color: orange;
  }

